<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/src/css/style.css">
</head>

<body class="flex flex-col min-h-screen">
    <header class="bg-gray-200 w-full">
        <nav class="flex items-center justify-between w-full">
            <a href="index.html">
                <img class="h-24" src="/src/img/marca-1.png" alt="Logo Senai">
            </a>
            <ul class="menu menu-horizontal lg:menu-horizontal rounded-box">
                <li class>
                    <a class="text-xl" href="login.html">
                        Login</a>
                </li>
                <li>
                    <a class="text-xl" href="cadastro.html">Cadastro</a>
                </li>
                <li>
                    <a class="text-xl" href="tabela.html">Tabela</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="w-full flex-grow flex items-center justify-center">
        <div class="w-[500px] h-[500px] bg-gray-200 flex items-center justify-center rounded ">

        </div>
    </div>
    <footer class="footer footer-center bg-gray-200 text-base-content p-4 w-full">
        <aside>
            <p>Copyright © 2024 - Luiz Bernardi Bruno Meredyk João Ferreira Rafael Barbato</p>
        </aside>
    </footer>
</body>

</html>