


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <div>
        <h1> Olá, seja bem vindo.</h1>
        <h2> Nos da<b>UniSenai</b> agradeçemos a sua visita e gostariamos de poder aprsentar nossos cursos que mudarm sua vida e fututo.</h2>
    </div>

    <div>
        <h2>Aproveite nossos cursos profissionalizantes, tecnicos, tecnologos e graduação com garantia MEC com nota em 4.5 de 5. </h2>
    </div>
    <img src="../../public/img/imagem.jpg"/>


</body>
</html>